@charset "utf-8";

/*탭메뉴*/
.webwidget_tab{letter-spacing:-0.04em;}
.tabContainer{width:100%;background:url('../img/tab.gif') repeat-x bottom;overflow:hidden;}
.tabContainer li{float:left;margin-right:3px;background:url('../img/tabOff_right.gif') no-repeat right top;}
.tabContainer li a{display:block!important;display:inline-block;padding:0 20px;height:32px;line-height:32px;background:url('../img/tabOff_left.gif') no-repeat left top;}
.webwidget_tab .tabHead{list-style-type: none;margin:0px;padding:0px;}
.webwidget_tab .tabBody{margin-top:20px;}

.webwidget_tab .tabBody ul,li{margin: 0px;padding: 0px;list-style: none;}
.webwidget_tab .tabBody ul{}
.webwidget_tab .tabBody ul li{}
.webwidget_tab .tabHead li a{font-weight: bold;text-decoration: none;font-size:1.35em;letter-spacing:-0.02em;}
.webwidget_tab .tabCot{}
.webwidget_tab .tabCot p{margin: 0px;padding:5px;}

.webwidget_tab .tabContainer li.currentBtn{background:url('../img/tabOn_right.gif') no-repeat right top;}
.webwidget_tab .tabContainer li.currentBtn a{height:32px;background:url('../img/tabOn_left.gif') no-repeat left top;}

.webwidget_tab .tabCot2{background:url('../img/history.png') bottom right no-repeat;}


/*color*/
.c_bk{color:#000;} /* 블랙*/
.c_bl{color:#3180bd;}
.c_gr{color:#60ba00;}
.c_or{color:#ff711b;}
.c_red{color:#ff0000;}




/* text-align */
.ta_r {text-align:right;}
.ta_l {text-align:left;}
.ta_c {text-align:center;}
.va_m {vertical-align:middle;}
.lht{line-height:20px;}


.br_hide {display:none;}
.both {clear:both;}

/*float*/
.fl_l{float:left}
.fl_r{float:right}


/* margin */

.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.m25{margin:25px}
.m30{margin:30px}
.m40{margin:40px}

.mt_0{margin-top:0px}
.mt_5{margin-top:5px}
.mt_10{margin-top:10px}
.mt_15{margin-top:15px}
.mt_20{margin-top:20px}
.mt_25{margin-top:25px}
.mt_30{margin-top:30px}
.mt_35{margin-top:35px}
.mt_40{margin-top:40px}
.mt_45{margin-top:45px}
.mt_50{margin-top:50px}
.mt_70{margin-top:70px}
.mt_80{margin-top:80px}
.mt_90{margin-top:90px !important;}

.mr_0{margin-right:0px !important; }
.mr_1{margin-right:1px !important; }
.mr_2{margin-right:2px !important; }
.mr_3{margin-right:3px}
.mr_5{margin-right:5px}
.mr_10{margin-right:10px}
.mr_15{margin-right:15px}
.mr_20{margin-right:20px}
.mr_25{margin-right:25px}
.mr_30{margin-right:30px}
.mr_40{margin-right:40px}

.mb_5{margin-bottom:5px}
.mb_10{margin-bottom:10px}
.mb_15{margin-bottom:15px}
.mb_20{margin-bottom:20px}
.mb_25{margin-bottom:25px}
.mb_30{margin-bottom:30px}
.mb_40{margin-bottom:40px}
.mb_50{margin-bottom:40px}

.ml_5{margin-left:5px}
.ml_10{margin-left:10px}
.ml_15{margin-left:15px}
.ml_20{margin-left:20px}
.ml_25{margin-left:25px}
.ml_30{margin-left:30px}
.ml_40{margin-left:40px}
.ml_50{margin-left:50px}
.ml_60{margin-left:60px}
.ml_70{margin-left:70px}
.ml_80{margin-left:80px}

.mtb_5{margin:5px 0}
.mtb_10{margin:10px 0}
.mtb_15{margin:15px 0}
.mtb_20{margin:20px 0}
.mtb_25{margin:25px 0}
.mtb_30{margin:30px 0}

.mlr_3{margin:0 3px}
.mlr_5{margin:0 5px}
.mlr_10{margin:0 10px}
.mlr_15{margin:0 15px}
.mlr_20{margin:0 20px}
.mlr_25{margin:0 25px}
.mlr_30{margin:0 30px}

/* 패딩 */
.p5{padding:5px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.p25{padding:25px}
.p30{padding:30px}

.pt_0 {padding-top:0px;}
.pt_5{padding-top:5px}
.pt_10{padding-top:10px}
.pt_15{padding-top:15px}
.pt_20{padding-top:20px}
.pt_25{padding-top:25px}
.pt_30{padding-top:30px}
.pt_40{padding-top:40px}
.pt_50{padding-top:50px}
.pt_60{padding-top:60px}

.pr_5{padding-right:5px}
.pr_10{padding-right:10px}
.pr_15{padding-right:15px}
.pr_20{padding-right:20px}
.pr_25{padding-right:25px}
.pr_30{padding-right:30px}

.pb_5{padding-bottom:5px}
.pb_10{padding-bottom:10px}
.pb_15{padding-bottom:15px}
.pb_20{padding-bottom:20px !important; }
.pb_25{padding-bottom:25px}
.pb_30{padding-bottom:30px}
.pb_40{padding-bottom:40px}

.pl_5{padding-left:5px}
.pl_10{padding-left:10px}
.pl_15{padding-left:15px}
.pl_20{padding-left:20px}
.pl_25{padding-left:25px}
.pl_30{padding-left:30px}
.pl_40{padding-left:40px}

.ptb_5{padding:5px 0}
.ptb_10{padding:10px 0}
.ptb_15{padding:15px 0}
.ptb_20{padding:20px 0}
.ptb_25{padding:25px 0}
.ptb_30{padding:30px 0}

.plr_5{padding:0 5px}
.plr_10{padding:0 10px}
.plr_15{padding:0 15px}
.plr_20{padding:0 20px}
.plr_25{padding:0 25px}
.plr_30{padding:0 30px}


